/* ! styling the header */
.header {
  display: flex;
  background-color: sienna;
  /*! spaces the content in the header component to the extreme end */
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  /*! position in reference to the header component */
  position: relative;
  align-items: center;
}

/* ! styling the menu */
.menu {
  background-color: red;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

/* * styling the menu icons */
.menu-icons {
  font-size: 24px;
}

/* mobile menu */
.mobile-menu {
  display: none;
}

/* web menu */
.web-menu {
  display: flex;
}

/* styling the logo */
.logo {
  display: flex;
  font-size: 36px;
  font-weight: 800;
}

/* ! mobile responsiveness using media queries */
